### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [3]:
player_cnt = len(purchase_data["SN"].value_counts())
player_cnt
pd.DataFrame([player_cnt], columns = ["Total Players"])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:

# Finding & Appending Number of Unique Items
unq_items = len(purchase_data["Item ID"].value_counts())
unq_items
# Total money spent
total_rev = round(purchase_data["Price"].sum(), 2)
total_rev
# Number of purchases
cnt_pur = purchase_data["Price"].count()
cnt_pur
# Average Price
avg_price = round(purchase_data["Price"].mean(), 2)
avg_price
# List for analysis
purchase_analysis = []

# Appending values to list
purchase_analysis.append(unq_items)
purchase_analysis.append("$" + str(avg_price))
purchase_analysis.append(cnt_pur)
purchase_analysis.append("$" + str(total_rev))
purchase_analysis

# Converting to a DataFrame
pd.DataFrame([purchase_analysis], columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Grouping by gender & counting
gender_grouped = purchase_data[["SN", "Gender"]]
gender_grouped = gender_grouped.drop_duplicates()
counts = gender_grouped["Gender"].value_counts()
# List of values
total_counts = [counts[0],counts[1],counts[2]]
percents_g = [round((counts[0]/player_cnt)*100,2),round((counts[1]/player_cnt)*100,2),round((counts[2]/player_cnt)*100,2)]

# Creating DataFrame & setting index
gender_demo_df = pd.DataFrame({
    "Percentage of Players": percents_g,
    "Total Count": total_counts
})
gender_demo_df.index = (["Male", "Female", "Other / Non-Disclosed"])
gender_demo_df

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_grouped = purchase_data[["SN","Gender","Price"]]
counts_g = gender_grouped["Gender"].value_counts()

# Purchase counts
purchase_counts = [counts_g[0],counts_g[1],counts_g[2]]

gender_grouped = gender_grouped.groupby("Gender")
total_spent = gender_grouped.sum()
total_spent
# Total Purchase Value
total_purchase_value_g = [total_spent.iloc[1,0], total_spent.iloc[0,0], total_spent.iloc[2,0]]
total_purchase_value_g
# Average Purchase Price
avg_purchase_g = [total_spent.iloc[1,0]/counts_g[0], total_spent.iloc[0,0]/counts_g[1], total_spent.iloc[2,0]/counts_g[2]]
avg_purchase_g

# Normalized Totals
norm_tot_g = [total_spent.iloc[1,0]/counts[0], total_spent.iloc[0,0]/counts[1], total_spent.iloc[2,0]/counts[2]]
norm_tot_g

# Creating DataFrame & setting index
purchase_analysis_g_df = pd.DataFrame({
    "Purchase Count": purchase_counts,
    "Average Purchase Price": avg_purchase_g,
    "Total Purchase Value": total_purchase_value_g,
    "Normalized Totals": norm_tot_g,
    "Gender": ["Male", "Female", "Other / Non-Disclosed"]
})



purchase_analysis_g_df = purchase_analysis_g_df.set_index("Gender")
purchase_analysis_g_df = purchase_analysis_g_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value",
                                                 "Normalized Totals"]]

# Formatting Prices
purchase_analysis_g_df.style.format({"Average Purchase Price": "${:.2f}", "Normalized Totals": "${:.2f}",
                                     "Total Purchase Value":"${:.2f}"})
purchase_analysis_g_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
data2 = purchase_data[["SN","Age"]]
data2 = data2.drop_duplicates()

# Age count
age_10 = data2[data2["Age"] < 10].count()[0]
age_14 = data2[(data2["Age"] >= 10) & (data2["Age"] <= 14)].count()[0]
age_19 = data2[(data2["Age"] >= 15) & (data2["Age"] <= 19)].count()[0]
age_24 = data2[(data2["Age"] >= 20) & (data2["Age"] <= 24)].count()[0]
age_29 = data2[(data2["Age"] >= 25) & (data2["Age"] <= 29)].count()[0]
age_34 = data2[(data2["Age"] >= 30) & (data2["Age"] <= 34)].count()[0]
age_39 = data2[(data2["Age"] >= 35) & (data2["Age"] <= 39)].count()[0]
age_40 = data2[data2["Age"] >= 40].count()[0]
ages = [age_10, age_14, age_19, age_24, age_29, age_34, age_39, age_40]

# Percents
percent_10 = round((age_10/player_cnt)*100,2)
percent_14 = round((age_14/player_cnt)*100,2)
percent_19 = round((age_19/player_cnt)*100,2)
percent_24 = round((age_24/player_cnt)*100,2)
percent_29 = round((age_29/player_cnt)*100,2)
percent_34 = round((age_34/player_cnt)*100,2)
percent_39 = round((age_39/player_cnt)*100,2)
percent_40 = round((age_40/player_cnt)*100,2)
percents_a = [percent_10, percent_14, percent_19, percent_24, percent_29, percent_34, percent_39, percent_40]

percents_a

# Creating the dictionary
age_demo = {
        "Percent of Players": percents_a,
        "Total Count": ages
    }

age_demo

# Creating DataFrame & setting index
age_demo_df = pd.DataFrame(age_demo)
age_demo_df.index = (["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
age_demo_df

       Percent of Players  Total Count
<10                  2.95           17
10-14                3.82           22
15-19               18.58          107
20-24               44.79          258
25-29               13.37           77
30-34                9.03           52
35-39                5.38           31
40+                  2.08           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# Purchase Count
purchase_10 = purchase_data[purchase_data["Age"] < 10].count()[0]
purchase_14 = purchase_data[(purchase_data["Age"] >= 10) & (purchase_data["Age"] <= 14)].count()[0]
purchase_19 = purchase_data[(purchase_data["Age"] >= 15) & (purchase_data["Age"] <= 19)].count()[0]
purchase_24 = purchase_data[(purchase_data["Age"] >= 20) & (purchase_data["Age"] <= 24)].count()[0]
purchase_29 = purchase_data[(purchase_data["Age"] >= 25) & (purchase_data["Age"] <= 29)].count()[0]
purchase_34 = purchase_data[(purchase_data["Age"] >= 30) & (purchase_data["Age"] <= 34)].count()[0]
purchase_39 = purchase_data[(purchase_data["Age"] >= 35) & (purchase_data["Age"] <= 39)].count()[0]
purchase_40 = purchase_data[purchase_data["Age"] >= 40].count()[0]
purchases_a = [purchase_10, purchase_14, purchase_19, purchase_24, purchase_29, purchase_34, purchase_39, purchase_40]

purchases_a

  ##Total Purchase Value
total_10 = purchase_data.loc[purchase_data['Age'] < 10, 'Price'].sum()
total_14 = purchase_data.loc[(purchase_data['Age'] >= 10) & (purchase_data['Age'] <=14), 'Price'].sum()
total_19 = purchase_data.loc[(purchase_data['Age'] >= 15) & (purchase_data['Age'] <=19), 'Price'].sum()
total_24 = purchase_data.loc[(purchase_data['Age'] >= 20) & (purchase_data['Age'] <=24), 'Price'].sum()
total_29 = purchase_data.loc[(purchase_data['Age'] >= 25) & (purchase_data['Age'] <=29), 'Price'].sum()
total_34 = purchase_data.loc[(purchase_data['Age'] >= 30) & (purchase_data['Age'] <=34), 'Price'].sum()
total_39 = purchase_data.loc[(purchase_data['Age'] >= 35) & (purchase_data['Age'] <=39), 'Price'].sum()
total_40 = purchase_data.loc[purchase_data['Age'] >= 40, 'Price'].sum()
totals_a = [total_10, total_14, total_19, total_24, total_29, total_34, total_39, total_40]

# Average Purchase Price
avg_price_a = [total_10/purchase_10, total_14/purchase_14, total_19/purchase_19, total_24/purchase_24, total_29/purchase_29,
              total_34/purchase_34, total_39/purchase_39, total_40/purchase_40]

# Normalized Totals
norms_a = [total_10/age_10, total_14/age_14, total_19/age_19, total_24/age_24, total_29/age_29, total_34/age_34,
           total_39/age_39, total_40/age_40]

# Creating dictionary
puchase_analysis_a = {
    "Purchase Count": purchases_a,
    "Average Purchase Price": avg_price_a,
    "Total Purchase Value": totals_a,
    "Normalized Totals": norms_a
}

# Creating DataFrame & setting index
purchase_analysis_a_purchase_data = pd.DataFrame(puchase_analysis_a)
purchase_analysis_a_purchase_data = purchase_analysis_a_purchase_data[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value',
                                                 'Normalized Totals']]
purchase_analysis_a_purchase_data.index = (["<10", "10-14","15-19","20-24","25-29","30-34","34-39","40+"])
# Formatting Prices
purchase_analysis_a_purchase_data.style.format({"Average Purchase Price": "${:.2f}", "Normalized Totals": "${:.2f}", "Total Purchase Value":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Total Purchase Value
total_spent = purchase_data.groupby("SN").sum()
total_spent.sort_values(by = "Price", ascending = False, inplace = True)

# Top Spender SN
names = list(total_spent.index.values)
top_names = [names[0],names[1],names[2],names[3],names[4]]


# Total Purchase Values
total_purchase_values_1 = total_spent.iloc[0,0]
total_purchase_values_2 = total_spent.iloc[1,0]
total_purchase_values_3 = total_spent.iloc[2,0]
total_purchase_values_4 = total_spent.iloc[3,0]
total_purchase_values_5 = total_spent.iloc[4,0]
top_purchase_values = [total_spent.iloc[0,0], total_spent.iloc[1,0], total_spent.iloc[2,0], total_spent.iloc[3,0],
                      total_spent.iloc[4,0]]

# Purchase Counts
top_purchase_counts_1 = purchase_data[purchase_data["SN"] == names[0]].count()[0]
top_purchase_counts_2 = purchase_data[purchase_data["SN"] == names[1]].count()[0]
top_purchase_counts_3 = purchase_data[purchase_data["SN"] == names[2]].count()[0]
top_purchase_counts_4 = purchase_data[purchase_data["SN"] == names[3]].count()[0]
top_purchase_counts_5 = purchase_data[purchase_data["SN"] == names[4]].count()[0]
top_purchase_counts = [top_purchase_counts_1, top_purchase_counts_2, top_purchase_counts_3, top_purchase_counts_4,
                       top_purchase_counts_5]

# Average Purchas Prices
avg_price_1 = total_purchase_values_1/top_purchase_counts_1
avg_price_2 = total_purchase_values_2/top_purchase_counts_2
avg_price_3 = total_purchase_values_3/top_purchase_counts_3
avg_price_4 = total_purchase_values_4/top_purchase_counts_4
avg_price_5 = total_purchase_values_5/top_purchase_counts_5
avg_prices = [avg_price_1, avg_price_2, avg_price_3, avg_price_4, avg_price_5]

# Dictionary of values
top_spenders_dict = {
    "Purchase Count": top_purchase_counts,
    "Average Purchase Price": avg_prices,
    "Total Purchase Value": top_purchase_values,
    "SN": top_names
}

# Creating DataFrame & setting index
top_spenders_df = pd.DataFrame(top_spenders_dict)
top_spenders_df = top_spenders_df.set_index("SN")
top_spenders_df = top_spenders_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

# Formatting prices
top_spenders_df.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
# Purchase Count
purchase_10 = purchase_data[purchase_data["Age"] < 10].count()[0]
purchase_14 = purchase_data[(purchase_data["Age"] >= 10) & (purchase_data["Age"] <= 14)].count()[0]
purchase_19 = purchase_data[(purchase_data["Age"] >= 15) & (purchase_data["Age"] <= 19)].count()[0]
purchase_24 = purchase_data[(purchase_data["Age"] >= 20) & (purchase_data["Age"] <= 24)].count()[0]
purchase_29 = purchase_data[(purchase_data["Age"] >= 25) & (purchase_data["Age"] <= 29)].count()[0]
purchase_34 = purchase_data[(purchase_data["Age"] >= 30) & (purchase_data["Age"] <= 34)].count()[0]
purchase_39 = purchase_data[(purchase_data["Age"] >= 35) & (purchase_data["Age"] <= 39)].count()[0]
purchase_40 = purchase_data[purchase_data["Age"] >= 40].count()[0]
purchases_a = [purchase_10, purchase_14, purchase_19, purchase_24, purchase_29, purchase_34, purchase_39, purchase_40]

purchases_a

# Total Purchase Value
total_10 = purchase_data.loc[purchase_data['Age'] < 10, 'Price'].sum()
total_14 = purchase_data.loc[(purchase_data['Age'] >= 10) & (purchase_data['Age'] <=14), 'Price'].sum()
total_19 = purchase_data.loc[(purchase_data['Age'] >= 15) & (purchase_data['Age'] <=19), 'Price'].sum()
total_24 = purchase_data.loc[(purchase_data['Age'] >= 20) & (purchase_data['Age'] <=24), 'Price'].sum()
total_29 = purchase_data.loc[(purchase_data['Age'] >= 25) & (purchase_data['Age'] <=29), 'Price'].sum()
total_34 = purchase_data.loc[(purchase_data['Age'] >= 30) & (purchase_data['Age'] <=34), 'Price'].sum()
total_39 = purchase_data.loc[(purchase_data['Age'] >= 35) & (purchase_data['Age'] <=39), 'Price'].sum()
total_40 = purchase_data.loc[purchase_data['Age'] >= 40, 'Price'].sum()

totals_a = [total_10, total_14, total_19, total_24, total_29, total_34, total_39, total_40]

totals_a

# Average Purchase Price
avg_price_a = [total_10/purchase_10, total_14/purchase_14, total_19/purchase_19, total_24/purchase_24, total_29/purchase_29,
              total_34/purchase_34, total_39/purchase_39, total_40/purchase_40]

avg_price_a

# Normalized Totals
norms_a = [total_10/age_10, total_14/age_14, total_19/age_19, total_24/age_24, total_29/age_29, total_34/age_34,
           total_39/age_39, total_40/age_40]

norms_a

# Creating dictionary
puchase_analysis_a = {
    "Purchase Count": purchases_a,
    "Average Purchase Price": avg_price_a,
    "Total Purchase Value": totals_a,
    "Normalized Totals": norms_a
}

puchase_analysis_a

# Creating DataFrame & setting index
purchase_analysis_a_df = pd.DataFrame(puchase_analysis_a)
purchase_analysis_a_df = purchase_analysis_a_df[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value',
                                                 'Normalized Totals']]
purchase_analysis_a_df.index = (["<10", "10-14","15-19","20-24","25-29","30-34","34-39","40+"])

purchase_analysis_a_df

# Formatting Prices
purchase_analysis_a_df.style.format({"Average Purchase Price": "${:.2f}", "Normalized Totals": "${:.2f}",
                                     "Total Purchase Value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
df4 = purchase_data[["Item ID", "Item Name", "Price"]]
pop_items = df4.groupby("Item ID").count()
pop_items.sort_values(by = "Item Name", ascending = False, inplace = True)
df4 = df4.drop_duplicates(["Item ID", "Item Name"])

# Item IDs
item_ids = [pop_items.index[0], pop_items.index[1], pop_items.index[2], pop_items.index[3], pop_items.index[4]]

# Item Names
name_1 = df4.loc[df4["Item ID"] == item_ids[0], "Item Name"].item()
name_2 = df4.loc[df4["Item ID"] == item_ids[1], "Item Name"].item()
name_3 = df4.loc[df4["Item ID"] == item_ids[2], "Item Name"].item()
name_4 = df4.loc[df4["Item ID"] == item_ids[3], "Item Name"].item()
name_5 = df4.loc[df4["Item ID"] == item_ids[4], "Item Name"].item()
pop_item_names = [name_1, name_2, name_3, name_4, name_5]

# Purchase Counts
item_counts = [pop_items.iloc[0,0], pop_items.iloc[1,0], pop_items.iloc[2,0], pop_items.iloc[3,0], pop_items.iloc[4,0]]

# Item Prices
price_1 = df4.loc[df4["Item Name"] == pop_item_names[0], "Price"].item()
price_2 = df4.loc[df4["Item Name"] == pop_item_names[1], "Price"].item()
price_3 = df4.loc[df4["Item Name"] == pop_item_names[2], "Price"].item()
price_4 = df4.loc[df4["Item Name"] == pop_item_names[3], "Price"].item()
price_5 = df4.loc[df4["Item Name"] == pop_item_names[4], "Price"].item()
item_prices = [price_1,price_2,price_3,price_4,price_5]

# Total Purchase Value
total_values = [pop_items.iloc[0,0]*price_1, pop_items.iloc[1,0]*price_2, pop_items.iloc[2,0]*price_3, 
                pop_items.iloc[3,0]*price_4, pop_items.iloc[4,0]*price_5]

# Creating DataFrame & setting index
pop_items_df = pd.DataFrame({
    "Item ID": item_ids,
    "Item Name": pop_item_names,
    "Purchase Count": item_counts,
    "Item Price": item_prices,
    "Total Purchase Value": total_values
})
pop_items_df = pop_items_df.set_index(["Item ID", "Item Name"])
pop_items_df = pop_items_df[["Purchase Count", "Item Price", "Total Purchase Value"]]

# Formatting Prices
pop_items_df.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

df4 = purchase_data[["Item ID", "Item Name", "Price"]]
profit_items = df4.groupby("Item ID").sum()
profit_items.sort_values(by = "Price", ascending = False, inplace = True)
df4 = df4.drop_duplicates(["Item ID", "Price"])

# Item IDs
item_ids = [profit_items.index[0], profit_items.index[1], profit_items.index[2], profit_items.index[3], profit_items.index[4]]

# Item Names
name_1 = df4.loc[df4["Item ID"] == item_ids[0], "Item Name"].item()
name_2 = df4.loc[df4["Item ID"] == item_ids[1], "Item Name"].item()
name_3 = df4.loc[df4["Item ID"] == item_ids[2], "Item Name"].item()
name_4 = df4.loc[df4["Item ID"] == item_ids[3], "Item Name"].item()
name_5 = df4.loc[df4["Item ID"] == item_ids[4], "Item Name"].item()
profit_names = [name_1, name_2, name_3, name_4, name_5]

# Total Purchase Value
values = [profit_items.iloc[0,0],profit_items.iloc[1,0],profit_items.iloc[2,0],profit_items.iloc[3,0],profit_items.iloc[4,0]]

# Item Price
price_1 = df4.loc[df4["Item ID"] == item_ids[0], "Price"].item()
price_2 = df4.loc[df4["Item ID"] == item_ids[1], "Price"].item()
price_3 = df4.loc[df4["Item ID"] == item_ids[2], "Price"].item()
price_4 = df4.loc[df4["Item ID"] == item_ids[3], "Price"].item()
price_5 = df4.loc[df4["Item ID"] == item_ids[4], "Price"].item()
profit_prices = [price_1,price_2,price_3,price_4,price_5]

# Purchase counts
df5 = purchase_data[["Item ID", "Item Name", "Price"]].groupby("Item Name").count()
count_1 = df5.loc[df5.index == profit_names[0], "Item ID"].item()
count_2 = df5.loc[df5.index == profit_names[1], "Item ID"].item()
count_3 = df5.loc[df5.index == profit_names[2], "Item ID"].item()
count_4 = df5.loc[df5.index == profit_names[3], "Item ID"].item()
count_5 = df5.loc[df5.index == profit_names[4], "Item ID"].item()
counts = [count_1, count_2, count_3, count_4, count_5]

# Creating DataFrame & setting index
profit_items_df = pd.DataFrame({
    "Item ID": item_ids,
    "Item Name": profit_names,
    "Purchase Count": counts,
    "Item Price": profit_prices,
    "Total Purchase Value": values
})
profit_items_df = profit_items_df.set_index(["Item ID", "Item Name"])
profit_items_df = profit_items_df[["Purchase Count", "Item Price", "Total Purchase Value"]]

# Formatting prices
profit_items_df.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})