In [4]:
# Dependencies
import pandas as pd
import sqlalchemy

# Store filepath in a variable
deeds_file = "Real_acct_owner/deeds.csv"

# Read our Data file with the pandas library
deeds_file_df = pd.read_csv(deeds_file, encoding="ISO-8859-1")

deeds_file_df

              Account  DateOfSale  Clerk_year        Clerk_id  deed_id
0        1.001000e+10  10/31/2012      2012.0          512340      1.0
1        1.002000e+10  12/30/2010      2011.0             206      1.0
2        1.002000e+10   10/5/2010      2010.0          428351      2.0
3        1.002000e+10   10/5/2009      2009.0          463938      1.0
4        1.002000e+10   10/5/2009      2009.0          463938      1.0
5        1.002000e+10   2/25/2009      2009.0           78304      2.0
6        1.002000e+10   6/20/2014      2014.0          284874      1.0
7        1.002000e+10    2/9/2007      2007.0           93547      2.0
8        1.002000e+10   6/20/2014      2014.0          284874      1.0
9        1.003000e+10    2/9/2007      2007.0           93547      2.0
10       1.003000e+10   10/8/2009      2009.0          463935      1.0
11       1.003000e+10   6/28/1978      1978.0         F758769      1.0
12       1.003000e+10    1/1/2015      2014.0          317920      1.0
13       1.003000e+10    1/1/2015      2014.0          317886      1.0
14       1.004000e+10    6/1/2016      2016.0  RP-2016-238777      1.0
15       1.004000e+10   10/5/2004      2004.0         Y140736      2.0
16       1.005000e+10  12/22/2011      2011.0          543700      1.0
17       1.005000e+10    4/2/2014      2014.0          135200      1.0
18       1.005000e+10  12/30/2015      2016.0             146      1.0
19       1.006000e+10  12/30/2015      2016.0             146      1.0
20       1.006000e+10   9/11/2009      2009.0          417060      1.0
21       1.007000e+10   9/11/2009      2009.0          417061      2.0
22       1.007000e+10   8/30/2013      2013.0          474651      1.0
23       1.007000e+10   8/30/2013      2013.0          474651      1.0
24       1.007000e+10   8/30/2013      2013.0          474651      1.0
25       1.008000e+10   8/30/2013      2013.0          475488      1.0
26       1.008000e+10   8/30/2013      2013.0          474651      1.0
27       1.008000e+10   8/30/2013      2013.0          474651      1.0
28       1.008000e+10   9/12/2007      2007.0          732004      2.0
29       1.008000e+10  11/19/2010      2010.0          516784      1.0
...               ...         ...         ...             ...      ...
1048545           NaN  10/13/2015      2015.0          488237      2.0
1048546           NaN   2/22/2013      2013.0          235386      1.0
1048547           NaN    6/3/2013      2013.0          303073      1.0
1048548           NaN   7/22/2012      2012.0          543128      2.0
1048549           NaN   3/28/2008      2008.0          164216      3.0
1048550           NaN    9/1/2005      2005.0         Y755024      5.0
1048551           NaN   4/30/2008      2008.0          228353      1.0
1048552           NaN    9/1/2005      2005.0         Y755024      2.0
1048553           NaN   8/25/2017      2017.0  RP-2017-389683      1.0
1048554           NaN   8/19/2011      2011.0          350812      2.0
1048555           NaN   2/17/2011      2011.0           72288      3.0
1048556           NaN    9/1/2005      2005.0         Y755024      4.0
1048557           NaN   9/23/2011      2011.0          402373      1.0
1048558           NaN   2/17/2011      2011.0           72288      2.0
1048559           NaN    9/1/2005      2005.0         Y755024      3.0
1048560           NaN   10/5/2012      2012.0          471940      1.0
1048561           NaN    9/8/2004      2004.0         X912780      2.0
1048562           NaN    4/8/2011      2011.0          144318      1.0
1048563           NaN   2/14/2017      2017.0   RP-2017-64749      3.0
1048564           NaN   5/25/2016      2016.0  RP-2016-231788      1.0
1048565           NaN  10/10/2014      2014.0          459052      1.0
1048566           NaN   3/28/2006      2006.0         Z228141      2.0
1048567           NaN   5/27/2005      2005.0         Y506823      2.0
1048568           NaN   9/13/2013      2013.0          477762      1.0
1048569           NaN  12/18/2015      2015.0          573471      1.0
1048570           NaN   2/17/2011      2011.0           72288      4.0
1048571           NaN    9/1/2005      2005.0         Y755024      5.0
1048572           NaN         NaN         NaN             NaN      NaN
1048573           NaN         NaN         NaN             NaN      NaN
1048574           NaN         NaN         NaN             NaN      NaN

[1048575 rows x 5 columns]

In [8]:
## droping rown with null Account value
deeds_file_clean_df = deeds_file_df.dropna(subset = ['Account'])

##Creating output file without Null account number
deeds_file_clean_df.to_csv("Real_acct_owner/deeds_file_df.csv", index=False, header=True)

In [9]:
# Store filepath in a variable
deeds_file_clean_df = "Real_acct_owner/deeds_file_df.csv"

# Read our Data file with the pandas library
deeds_file_clean_df = pd.read_csv(deeds_file_clean_df, encoding="ISO-8859-1")

deeds_file_clean_df['Account'] = deeds_file_clean_df['Account'].astype('int64')

deeds_file_clean_df = deeds_file_clean_df[["Account", "DateOfSale","Clerk_id","deed_id"]]
deeds_file_clean_df

            Account  DateOfSale        Clerk_id  deed_id
0       10010000013  10/31/2012          512340      1.0
1       10020000001  12/30/2010             206      1.0
2       10020000003   10/5/2010          428351      2.0
3       10020000004   10/5/2009          463938      1.0
4       10020000013   10/5/2009          463938      1.0
5       10020000015   2/25/2009           78304      2.0
6       10020000016   6/20/2014          284874      1.0
7       10020000023    2/9/2007           93547      2.0
8       10020000024   6/20/2014          284874      1.0
9       10030000001    2/9/2007           93547      2.0
10      10030000008   10/8/2009          463935      1.0
11      10030000015   6/28/1978         F758769      1.0
12      10030000016    1/1/2015          317920      1.0
13      10030000017    1/1/2015          317886      1.0
14      10040000001    6/1/2016  RP-2016-238777      1.0
15      10040000004   10/5/2004         Y140736      2.0
16      10050000004  12/22/2011          543700      1.0
17      10050000020    4/2/2014          135200      1.0
18      10050000020  12/30/2015             146      1.0
19      10060000010  12/30/2015             146      1.0
20      10060000010   9/11/2009          417060      1.0
21      10070000013   9/11/2009          417061      2.0
22      10070000014   8/30/2013          474651      1.0
23      10070000017   8/30/2013          474651      1.0
24      10070000017   8/30/2013          474651      1.0
25      10080000001   8/30/2013          475488      1.0
26      10080000002   8/30/2013          474651      1.0
27      10080000004   8/30/2013          474651      1.0
28      10080000006   9/12/2007          732004      2.0
29      10080000014  11/19/2010          516784      1.0
...             ...         ...             ...      ...
49970  211500000000   9/23/2016  RP-2016-431462      7.0
49971  211500000000    3/7/2014           95419      1.0
49972  211500000000   5/31/2013          268813      2.0
49973  211500000000    1/4/2011           53531      3.0
49974  211500000000    9/7/2010          448126      4.0
49975  211500000000    7/3/2012          294031      2.0
49976  211500000000  12/19/2016  RP-2016-580829      1.0
49977  211500000000   6/17/2009          276660      2.0
49978  211500000000   3/20/2009          126752      1.0
49979  211500000000   1/29/2008           54341      2.0
49980  211500000000    5/1/2007          267449      3.0
49981  211500000000    9/7/2006           42641      4.0
49982  211500000000   6/22/2006         Z402719      5.0
49983  211500000000   3/28/2016  RP-2016-127966      1.0
49984  211500000000  12/30/2011             424      1.0
49985  211500000000   8/29/2011          403700      2.0
49986  211500000000    4/5/2011          140684      3.0
49987  211500000000    7/9/2004         X777790      1.0
49988  211500000000  10/31/2014          492842      1.0
49989  211500000000   1/27/2015           36461      2.0
49990  211500000000    9/9/2014          402801      3.0
49991  211500000000   10/3/2006          249231      1.0
49992  211500000000   6/16/2016  RP-2016-266772      2.0
49993  211500000000    5/8/1990         M637992      1.0
49994  211500000000  10/12/2012          486876      1.0
49995  211500000000   9/26/2010          461006      2.0
49996  211500000000   6/14/1984         J563625      4.0
49997  211500000000    7/5/2016  RP-2016-339394      1.0
49998  211500000000    4/5/2016  RP-2016-163373      2.0
49999  211500000000    4/7/2017  RP-2017-261030      4.0

[50000 rows x 4 columns]

In [10]:
## Removing duplicate 

deeds_file_clean_df.drop_duplicates(subset='Account', inplace=True)
deeds_file_clean_df.to_csv("Real_acct_owner/deeds_file_clean_dup.csv", index=False, header=True)

In [20]:
## connection for Mysql
engine = sqlalchemy.create_engine('mysql+pymysql://root:root@localhost:3306/hcad')

## reading file to insert into mysql
deeds_file_clean_ins =  pd.read_csv('Real_acct_owner/deeds_file_clean_dup.csv', encoding='latin-1',usecols=['Account', 'DateOfSale','Clerk_id','deed_id'],parse_dates=False)

##inserting data into mysql
deeds_file_clean_ins.to_sql('deeds', con=engine, if_exists='append',index=False,chunksize=1)